.container {
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #ff7e5f, #feb47b);
    width: 600px;
    height: 400px;
    border: 2px solid #ee6d4e;
    margin: 3px
}

.big-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
}

.p {
    font-size: 100px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}